{% extends 'base.html' %}

{% block content %}
<div class="m-4">
    <h1 class="display-2">Login</h1>
    <p class="lead">Log in below. If you don't have an account, <a href="/register" class="link-secondary">Register here</a></p>


<div class="w-50">
    <form method="POST">
        {{form.hidden_tag()}}
    
        {% for field in form if field.widget.input_type !='hidden' %}
        <p>
            {{field.label}}
            {{field(class='form-control mr-5')}}
    
            {% for error in field.errors %}
            <span class="form-text text-danger">{{error}}</span>
            {% endfor %}
        </p>
        {% endfor %}
        <button class="btn btn-success" type="submit">Login</button>
    </form>
</div>
</div>

{% endblock %} 
